[package]
name = "zero2prod"
authors = ["Mattia Penati <mattia.penati@protonmail.com>"]
license = "MIT OR Apache-2.0"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = "0.6.1"
hyper = { version = "0.14.23", features = ["server"] }
tokio = { version = "1.23.0", features = ["macros", "rt-multi-thread"] }
